In [2]:
# Importar pandas y numpy para la limpieza, configuro max columns para visualizar correctamente.

import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [3]:
category_origin = pd.read_csv('C:/Users/ferna/Desktop/IRONHACK/BlockBuster-Project/data/category.csv')
category = category_origin.copy()

category_origin.shape

(16, 3)

In [4]:
category

    category_id         name          last_update
0             1       Action  2006-02-15 04:46:27
1             2    Animation  2006-02-15 04:46:27
2             3     Children  2006-02-15 04:46:27
3             4     Classics  2006-02-15 04:46:27
4             5       Comedy  2006-02-15 04:46:27
5             6  Documentary  2006-02-15 04:46:27
6             7        Drama  2006-02-15 04:46:27
7             8       Family  2006-02-15 04:46:27
8             9      Foreign  2006-02-15 04:46:27
9            10        Games  2006-02-15 04:46:27
10           11       Horror  2006-02-15 04:46:27
11           12        Music  2006-02-15 04:46:27
12           13          New  2006-02-15 04:46:27
13           14       Sci-Fi  2006-02-15 04:46:27
14           15       Sports  2006-02-15 04:46:27
15           16       Travel  2006-02-15 04:46:27

In [5]:
def check_suma_nulos(df: pd.DataFrame)-> None:   ## Suma de valores nulos por columna
    
    nan_cols = df.isna().sum()
    
    nan_cols = nan_cols[nan_cols>0]
    
    display(nan_cols)
    
check_suma_nulos(category)

Series([], dtype: int64)

In [8]:
category.duplicated().any()

False