In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [5]:
language_origin = pd.read_csv('C:/Users/ferna/Desktop/IRONHACK/BlockBuster-Project/data/language.csv')
language = language_origin.copy()

language_origin.shape

(6, 3)

In [6]:
language

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19